* {
    margin: 50px;
    padding: 0;
    box-sizing: border-box;

}
.card {
    width: calc(33.33% - 20px);
    height: 450px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    background-color: #b7ccff;
    margin: 10px;
    padding: 10px;
    border: 20px solid #162442
}
.card img {
    width: 238px;
    height: 60%;
    margin: 0 auto;
    object-fit: cover;
    border: 6px solid #162442;
    

}


.card-container {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}



.card p {
    font-size: 17px;
    padding: 10px;
    margin: 0;
    
}

header {
    position: relative;
}

header img {

    height: auto;
    display: block;
    max-width: 35%;
    margin: 0 auto;
}

main {

    margin-bottom: 0%;
}

body {

    margin: 0%;

}


footer img {
 
    display: block;
    margin: 0 auto;
}

footer p {
    text-align: center;
}